.Card__hide{
    right: -200%;
    top: 0;
    background-color: rgb(199, 6, 6);
    width: 20rem;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    height: 100%;
    transition: 0.3s; 
}
.Card{
    background-color: rgb(173, 168, 168);
    width: 20rem;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s; 
    
}

.close{
cursor: pointer;
font-weight: 700;
font-size: 2rem;
position: absolute;
top: 5px;
right: 5px;


}